$black: #111827;
$red: #ff312e;
$blue: #6610f2;
$yellow: #f7b32b;
$white: #fffffa;

body {
    max-width: 100%;
}

.main-container {
    height: 100vh;
    max-width: 100%;
    overflow-y: scroll;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    &--border {
        border: 1px solid $black;
    }
}

.side-bar-container {
    height: 100%;
    width: 100%;
    flex-basis: 20%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white;
        border-radius: 2em;
    }

    &::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 2em;
    }
}

.problem-title-container {
    max-height: 100%;
    width: 100%;
    
    display: flex;
    
    border-right: 1px solid lightgray;
}   

.problem-container {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;

    height: 100%;    
    width: 100%;
    
    overflow: auto;
}

.problem-info-container {
    height: fit-content;
    width: 100%;
}

.separator {
    height: 2px;
    width: 100%;
    border-bottom: 1px solid black;
}

.input-box {
    border: 1px solid red;
}

.problem-selector {
    width: 100%;
    
    padding: 1em 0.5em;

    text-align: left;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
        background-color: lightgrey;
        color: white;
    }

    &-active {
        border-left: 4px solid $black;
    }
}


